/* 
    Created on : Dec 31, 2013, 6:24:20 PM
    Author     : Allen
*/
/*
@font-face {
    font-family: 'ShuiYun';
    src: url('./font/FZShuiYJW_Xian.ttf') format("truetype");
    /*
    src: url('./font/HAMBH___-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/HAMBH___-webfont.woff') format('woff'),
         url('./font/HAMBH___-webfont.ttf') format('truetype'),
         url('./font/HAMBH___-webfont.svg#HamburgerHeavenRegular') format('svg');
    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'XiHei';
    src: url('./font/xihei.ttf') format("truetype");
    /*
    src: url('./font/HAMBH___-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/HAMBH___-webfont.woff') format('woff'),
         url('./font/HAMBH___-webfont.ttf') format('truetype'),
         url('./font/HAMBH___-webfont.svg#HamburgerHeavenRegular') format('svg');
    
    font-weight: normal;
    font-style: normal;
}
*/

body {
    /* font-family: "XiHei", Helvetica, sans-serif;    */
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}
h1,h2,h3,h4,h5,h6{
    /* font-family: "ShuiYun", Helvetica, sans-serif; */
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}
img {
    max-width: 100%;
}
.content-container{
    margin-bottom: 50px;
}
.content-no-header{
    margin-top: 42px;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.list-style-none{
    list-style: none;
}
.font-blue{
    color:#004B91;
}
.font-brown{
    color:#816957;
}
.font-orange{
    color: #FF6600;
}
.font-green {
    color: #43ac6a;
}
.font-lg{
    font-size: 1.3em;
}
.font-2x{
    font-size: 2.0em;
}
.font-underline{
    text-decoration: underline;
}
.font-grey{
    color:#777E83 ;
}
.font-black{
    color:black;
}
.font-green {
    color: #009900;
}
.no-display {    
    display: none;
}
.space-right{
    margin-right: 20px;
}
.ajax-preloader{
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

div.vertical-divider {
    height: 90%;
    border-right: 1px solid #909090;
}

/* row and col modification */
.row.row-narrow {
    margin-left: -5px;
    margin-right: -5px;
}
.col-.col-xs-1.col-narrow, 
.col-sm-1.col-narrow, 
.col-md-1.col-narrow, 
.col-lg-1.col-narrow, 
.col-xs-2.col-narrow, 
.col-sm-2.col-narrow, 
.col-md-2.col-narrow, 
.col-lg-2.col-narrow, 
.col-xs-3.col-narrow, 
.col-sm-3.col-narrow, 
.col-md-3.col-narrow, 
.col-lg-3.col-narrow, 
.col-xs-4.col-narrow, 
.col-sm-4.col-narrow, 
.col-md-4.col-narrow, 
.col-lg-4.col-narrow, 
.col-xs-5.col-narrow, 
.col-sm-5.col-narrow, 
.col-md-5.col-narrow, 
.col-lg-5.col-narrow, 
.col-xs-6.col-narrow, 
.col-sm-6.col-narrow, 
.col-md-6.col-narrow, 
.col-lg-6.col-narrow, 
.col-xs-7.col-narrow, 
.col-sm-7.col-narrow, 
.col-md-7.col-narrow, 
.col-lg-7.col-narrow, 
.col-xs-8.col-narrow, 
.col-sm-8.col-narrow, 
.col-md-8.col-narrow, 
.col-lg-8.col-narrow, 
.col-xs-9.col-narrow, 
.col-sm-9.col-narrow, 
.col-md-9.col-narrow, 
.col-lg-9.col-narrow, 
.col-xs-10.col-narrow, 
.col-sm-10.col-narrow, 
.col-md-10.col-narrow, 
.col-lg-10.col-narrow, 
.col-xs-11.col-narrow, 
.col-sm-11.col-narrow, 
.col-md-11.col-narrow, 
.col-lg-11.col-narrow, 
.col-xs-12.col-narrow, 
.col-sm-12.col-narrow, 
.col-md-12.col-narrow, 
.col-lg-12.col-narrow {
    padding-left: 5px;
    padding-right: 5px;
}

/* table modification */
.table tr.obscure>td, .table tr>td.obscure {
    background-color: #f7f7f9;
    color: #B8B8B8;
}


/* popover modification */
.popover {     
    max-width: 468px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
.popover .popover-title{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.popover .popover-content{
    background-color: #808080 ;
}

.prescription_popover.popover{
    max-width: 400px;
}

/* form control modification */
.form-control {
    height:36px;    
    font-size: 12px;
}
.form-control-feedback {
    line-height: 36px;
    font-size: 12px;
}
label, .control-label, .help-block {
    font-size: 12px;
    font-weight: normal;
}
.checkbox, .radio {
    font-size: 14px;

}
.radio-inline, .checkbox-inline {
    position: relative;
}
.radio label, .checkbox label {
    display: block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;

}
.radio input[type="radio"], .checkbox input[type="checkbox"]{
    top: 7px; 
}
.radio-inline input[type="radio"], .checkbox-inline input[type="checkbox"] {
    top: -2px; 
}

/* modal modification 
* http://codepen.io/anon/pen/LeBlm
*/
.modal-dialog {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}
.modal-content {
    overflow-y: auto;
}
.modal-footer {
    margin-top: 0;
}

@media (max-width: 767px) {
    .modal-dialog {
        width: 100%;
    }
}

/* button modification */
.btn {
    font-size: 12px;
}
.btn-primary {
    color: #ffffff;
    background-color: #2f88cc;
}
.btn-danger {
    color: #ffffff;
    background-color: #f04124;
    border-color: #EE2F0F;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #ffffff;
    background-color: #2977b3;
    border-color: #2977b3;
}


/* nav tab modification */
.tab-content .tab-pane-bordered{
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}


/*
* Navbar modification
*/

.navbar-container{
    height:37px;
    background-color: #ffffff;;
}
.navbar-nav>li>a, .navbar-brand {
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-brand {
    font-size: 14px;
    height:37px;
}
.navbar {
    margin-bottom: 0px;
    min-height: 37px;
    z-index: 998;
    border-bottom: 1px solid #EEEEEE;
}
.navbar-inverse {
    background-color: #ffffff;
    font-size: 1.0em;
}
.navbar-inverse .dropdown-menu {
    background-color: #f5f5f5;
}
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-inverse .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-header a.navbar-brand:hover {
    color: #ee4054;
}
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus {    
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-inverse .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-header a.navbar-brand:hover{
    background-color:  #f5f5f5;
}
#nav.affix{
    position: fixed;
    top: 0;
    width: 100%;
    margin:auto;
    z-index: 998;    
    background-color: #333333;
    color: #E8E8E8;
    transition: background-color 1s, color 1s;
    -webkit-transition: background-color 1s, color 1s;    
    border-bottom: 0px;
}
#nav.affix .navbar-brand, 
#nav.affix .navbar-nav>li>a,
#nav.affix .navbar-nav>li>a:focus {    
    color: #E8E8E8;
    background-color: inherit;
}
#nav.affix .navbar-nav>.open>a,
#nav.affix .navbar-nav>.open>a:hover, 
#nav.affix .navbar-nav>.open>a:focus,
#nav.affix .navbar-nav>li>a:hover,
#nav.affix .navbar-nav .open .dropdown-menu>li>a:hover,
#nav.affix .navbar-nav .open .dropdown-menu>li>a:focus,
#nav.affix .dropdown-menu>li>a:hover,
#nav.affix .navbar-header a.navbar-brand:hover{
    color: #333333;
    background-color:  #f5f5f5;
}
#nav.affix .navbar-brand{
    color: #E8E8E8;
}
.navbar .dropdown-menu {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.175);
    box-shadow: 0 3px 6px rgba(0,0,0,0.175);;
}
/* login dropdown */
.yamm #login-dropdown .dropdown-menu {
    padding: 10px 20px;
    width: 400px;
    right: 15px; //to compensate the 15px margin of container
}
.yamm .dropdown-menu {
    min-width: 80px;
}
.yamm .yamm-content {       
    color: #222222 ;
    padding: 20px 30px;
}
.yamm .yamm-content.content-narrow {       
    color: #222222 ;
    padding: 0px;
}
.yamm-content ul {
    padding-left: 0px;
}
.yamm-content ul>li {
    list-style: none;
}
.yamm-content ul>li a, 
.yamm-content ul>li .category-header {
    display: block;    
    padding: 8px 30px 8px 12px;
    line-height: 1.42857143;
    white-space: nowrap;
}
.yamm-content ul>li a {
    clear: both;
    font-weight: 400;
    color: #333;
}
.yamm-content ul>li .category-header {
    font-weight: bold;
    color: #FF6600;
}
.yamm-content ul>li a:hover, 
.yamm-content ul>li a:focus {
    color: white;
    background-color: #ee4054;
}
.yamm-content ul>li a .color-icon {
    width: 12px;
    height: 12px;
    vertical-align: text-bottom;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


/*
* Pagination modification
*/
.pagination{
    margin: 5px 0px;
}


/*   header */
.shelf-header {
    text-align: center;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 20px;
}
.shelf-header .title {
    font-weight: 200;
    position: relative;
    z-index: 25;
}
.shelf-header .title img {
    width: 175px;
    height: 35px;
    margin-bottom: 5px;
}
.shelf-header .title {
    padding: 0 15px;
    margin: 0 auto;
    display: inline-block;
    color: #444;
    background: #fff;
}
.shelf-header .divider {
    display: block;
    border-top: 1px solid #909090 ;
    position: absolute;
    top: .6em;
    width: 100%;
    z-index: 5;
}


/* 
* carousel modification 
*/
.carousel {
    top: 0px;
    min-height: 150px;
}
.carousel-inner {
    background: #ffffff;
}

.carousel-indicators .active {
    background: #16cbe6;
    border: 1px solid #0fa6bc;
}
.carousel .carousel-control span {
    display: inline-block;
    background: #222;
    border-radius: 50px; 
    height: 50px;
    width: 50px;
    line-height: 45px;
    text-align: center;
}
.carousel-control.left, .carousel-control.right{
    background-image: none;
}

#index-carousel {
    max-height: 574px;
}

/* 
* shop item
* aka. product card
*/
.shop-items-container .shop-item{
    position: relative;
    background: #fff;
    border: 1px solid #f2f2f2;
    margin-bottom: 8px;
    min-height: 262px;
}
.shop-items-container .shop-item {
    height: auto;    
    overflow: hidden;
}
.shop-items-container .shop-item:hover{
    box-shadow: 0px 0px 7px 0 #d6d6d6;
    border: 1px solid #d9d9d9;
}
.shop-item:hover .shop-item-image.wide-home-display{
    opacity: 0.8;    
}

.shop-item-badge {
    position: absolute;
    z-index: 1;
    right: 5px;
    width: 40px;
    height: 50px;
    overflow: hidden;    

}
.new-arrival-badge{
    background: url(../images/badges/badge-2.png) no-repeat;    
}
.promotion-badge{
    background: url(../images/badges/badge-4.png) no-repeat;    
}
.best-seller-badge{
    background: url(../images/badges/badge-5.png) no-repeat;    
}
.featured-badge{
    background: url(../images/badges/badge-3.png) no-repeat;    
}
.classical-badge{
    background: url(../images/badges/badge-1.png) no-repeat;    
}
.shop-item .discount-price{
    padding-left: 10px;
    font-family: Arial, sans-serif;
    font-size: 34px;
    color: #c40000;
}
.shop-item .market-price{
    font-size: 18px;
    color:#888888;
    font-weight: normal;
}
.shop-items-container .shop-item .info-bar-hover{
    position: absolute;
    z-index: 3;
    display: none;    
    bottom: 0%;
    height: 26px;
    padding-top: 3px;
    padding-left: 7px;
    background-color: black;
    width: 100%;
    opacity:0.75;
    font-size: 14px;
}
.shop-items-container .shop-item .info-bar-hover a {
    color: #E8E8E8;
}
.shop-items-container .shop-item:hover .info-bar-hover {
    display: block;
    -webkit-animation: hover-overlay-animation 0.3s; /* Chrome, Safari, Opera */
    animation: hover-overlay-animation 0.3s;
}
.info-bar-hover .raty-star{
    display: inline;    
}
.info-bar-hover .raty-star>img{
    width: 14px;
    height: 14px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes hover-overlay-animation {
    0%   {bottom: -26px;}
    100% {bottom: 0%;}
}
/* Standard syntax */
@keyframes hover-overlay-animation {
    0%   {bottom: -26px;}
    100% {bottom: 0%;}
}

@media (max-width: 991px){
    .shop-items-container .shop-item {
        height:auto;
    }
}
.shop-items-container .shop-item-image {
    width: 100%;    
    display: block;    
    text-align: center; 
    overflow:hidden;
    min-height: 118px;
}
.shop-items-container .shop-item-image.item-image-single img {
    width: 210px;
    height: 118px;
}

.shop-items-container .shop-item-image img {  
    min-height: 100px;
    max-width:100%;
}

.shop-items-container .shop-item-details h5 {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}
.wide-home-display img, .large-home-display img{
    width:100%;
    height: 100%;    
}
.shop-items-container .shop-item-details p {
    text-align: center;
    margin-bottom: 10px;
    line-height: 20px;
    padding-bottom: 25px;
}
.color-icon{
    width: 16px;
    height: 16px;
    vertical-align: baseline;
    border-radius: 8px;
    margin: 0px 3px;
    border: 1px lightgray solid;
    cursor: pointer;
}
.color-icon-clicked .color-icon{
    box-shadow: 0px 0px 2px 2px #888888;
}


/* colorful footer */
.colorful-footer-container {
    height:150px;
    width: 100%;
}
.colorful-footer {    
    position: absolute;
    height:150px;
    overflow: hidden;
    width: 100%;

}
.colorful-footer-section {
    width: 45%;
    height: 170%;    
    top: -50px;
}
.colorful-footer-section-1{
    background-color: #FFCF10;
    position: absolute;    
    left: -10px;
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); /* IE 9 */
    -webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
}
.colorful-footer-section-2{
    background-color: #FF003E;
    position: absolute;
    left: 25%;
    transform:rotate(-7deg);
    -ms-transform:rotate(-7deg); /* IE 9 */
    -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */
}
.colorful-footer-section-3{
    background-color: #0D52FF;
    position: absolute;
    left: 50%;
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); /* IE 9 */
    -webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
}
.colorful-footer-section-4{
    background-color: #19FFB5;
    position: absolute;
    left: 75%;
    transform:rotate(-7deg);
    -ms-transform:rotate(-7deg); /* IE 9 */
    -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */
}
.colorful-footer-content{
    position: absolute;
    width: 100%;
}
.colorful-footer-content div{
    width: 25%;
    float: left;
    text-align: center;
    color: white;
    padding-top: 30px;
}

/* top-banner */
.top-banner {
    background-color: #ee4054;
    border-bottom: 0px solid white;
    z-index: 55;
    position: relative;
    width: 100%;
    max-height: 90px;
}
.top-banner > .container {
    padding-top: 15px;
    padding-bottom: 15px;
}
.top-banner .logo {
    width: 240px;
    height: 60px;
}
.top-banner .optimall-promises {
    font-family: "Helvetica", Arial, sans-serif;
    color: white;
    padding-left: 20px;
}
.top-banner .optimall-promises i{
    position: absolute;
    left: 0px;
    padding-top: 2px;
}
.top-banner .cart-icon-ontainer{
    text-align: right;
    padding-top: 10px;
}
@media (max-width: 991px){
    .top-banner .optimall-promises {
        display: none;
    }
}


/* Footer
-------------------------------------------------- */
#footer {
    min-height: 260px;
    background-color: #252528;
    color: #b5b5b6;
    padding-top: 35px; 
}
footer a {
    border-bottom: none;
}
#footer .footer_header {
    color: #c4c4c4;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 15px; 
}
#footer .recent_posts,  #footer .contact .post {
    margin-left: 0px; 
}
#footer .post {
    margin-bottom: 30px;
    width: 93%; 
}
#footer .post img {
    float: left;
    margin-right: 10px;
    border-radius: 7px; 
}
#footer .post .circular{
    border-radius:25px;
}
#footer  .title{
    display: block;
    color: #b5b5b6;
    font-size: 14px;
}
#footer  li, #footer li a{
    list-style-type:none;
    font-size: 14px;
    height: 37px;
    color: #b5b5b6;
    padding:0px 1px 15px 1px;
}
#footer .testimonials .footer_header {
    margin-left: 30px; 
}
#footer .testimonials .quote {
    color: #bfbfc0; 
}
#footer .testimonials .quote span {
    font-size: 32px;
    font-style: italic;
    position: relative;
    top: 5px;
    font-family: Open Sans;
    float: left;
    margin-right: 8px; 
}
#footer .testimonials .author {
    margin-top: 40px; 
}
#footer .testimonials .author img {
    float: left;
    margin-right: 15px;
    position: relative;
    top: -6px; 
}
#footer .testimonials .name {
    font-size: 13px;
    font-weight: bold; }
#footer .testimonials .info {
    font-style: italic;
    color: #ccc; }

#footer .contact .footer_header {
    text-align: left;
    margin-left: 35px; }

#footer .credits {
    border-top: 1px solid #343437;
    padding: 10px 0px 60px 0px; }
#footer .credits .social {
    margin-top: 30px;
    text-align: center; }
#footer .credits .social a {
    margin: 10px; }
#footer .credits .social a span {
    display: inline-block;
    width: 33px;
    height: 33px; }
#footer .credits .social a span.ico1, #footer .credits .social a span.icoh {
    background-position: 0px 0px; }
#footer .credits .social a span.ico2, #footer .credits .social a span.ico2h {
    background-position: -37px 0px; }
#footer .credits .social a span.ico3, #footer .credits .social a span.ico3h {
    background-position: -75px 0px; }
#footer .credits .social a span.ico4, #footer .credits .social a span.ico4h {
    background-position: -112px -1px; }
#footer .credits .social a span.ico5, #footer .credits .social a span.ico5h {
    background-position: -151px 0px; }
#footer .credits .social a span.ico6, #footer .credits .social a span.ico6h {
    background-position: -188px -1px; }
#footer .credits .social a span.ico7, #footer .credits .social a span.ico7h {
    background-position: -226px 0px; }
#footer .credits .social a:hover span.socialicons {
    display: none; }
#footer .credits .social a:hover span.socialicons_h {
    display: inline-block !important; }
#footer .credits .social span.socialicons_h {
    display: none; }
#footer .credits .copyright {
    color: #a6a6a7;
    font-style: italic;
    text-align: center;
    margin-top: 30px; }

#footer .credits .socialicons {
    background: url("../images/socialicons.png") no-repeat;
    width: 265px;
    height: 36px; }

#footer .credits .socialicons_h {
    background: url("../images/socialicons_h.png") no-repeat;
    width: 265px;
    height: 36px; }

#footer .info {
    margin-bottom: 10px;
    margin-left: 0; }

#footer .info .residence {
    margin-left: 0; }
#footer .info ul {
    margin: 0;
    padding: 0; }
#footer .info ul li {
    list-style: none;
    font-size: 16px;
    color: #777E83;
    line-height: 23px; }
#footer .info ul a {
    color: #777E83;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s; }
#footer .info ul a:hover {
    color: #A9B4BB; }
#footer .info .touch {
    float: right; }
#footer .info .touch ul li {
    display: inline-block;
    margin-left: 22px; 
}


/* progress tracker */
ol.progtrckr {
    margin: 10px 0px 0px 0px;
    padding: 0;
    list-style-type: none;
}
ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}
ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }
ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}
ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}


/* prescription table */
#prescription-table th, #prescription-table td { 
    border-top: none; 
}
.prescription-table tr>td, .prescription-table tr>th {
    color:#222222;
}

/* chosen-select */
.chosen-container-single .chosen-single{
    border-radius: 0px;
    background-color: white;
    background: white;
}
.chosen-container-single .chosen-drop{
    border-radius: 0px;
}

/* jquery validation */
span.jq-validate-error, p.jq-validate-error {
    padding-left: 2px;
    position: relative;
    top: 5px;;
    color: orange;
}
.jq-validate-error span.jq-validate-valid{
    color: green
}
input.jq-validate-error{
    border-color: #FFB941!important;
}


/* login page */
.login-container {
    background: rgba(6, 7, 7, 0.56);
    margin-top: 40px;
    border-radius: 5px;
    padding: 25px;
    width: 468px;
}
.login-container hr {
    margin-top: 5px;
    border-top: 1px solid #1abc9c;    
}
.login-container h4 {
    font-size: 40px;
    color: #1abc9c;
    margin-bottom:0px;
    padding-left: 0px;
}
.login-container a{
    color: #1abc9c;
}
.login-container .btn-green{
    background: #1abc9c;
    border-color: #1abc9c;
    width: 150px;
    position: relative;
    float: right;
    color: white;
}
.login-container .btn-orange{
    background: #dd3b5e;
    border-color: #dd3b5e;
    width: 150px;
    color: white;
}

/* sign up */
.modal#terms_modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}


/* Gallery page */
.sorting-option {
    font-size: 12px;
    padding: 6px 10px;
    border-right: 1px solid #C0C0C0;
}
.selected-sorting-option, .selected-sorting-option:hover {
    background-color: #008cba;
    color: #FFFFFF;
}


/* shopping cart page */
.shopping-cart-img{
    margin-top: 10px;
    width: 142px;
    height: 80px;
}
.shopping-cart-table tr td, .shopping-cart-table tr th{
    text-align: center;   
    vertical-align: top;
}
.shopping-cart-table .shopping-cart-item-info{
    text-align: left;   
}
#prescription-panel{
    margin-bottom: 5px;
}
.shopping-cart-price{
    color: #FF6600;
    font-weight: bold;
    font-size: 1.2em;
}
#coupon-form-group{
    margin-bottom: 0px;
}
#shopping-cart-summary{
    text-align: right;
}
.prescription-modal .modal-dialog {
    width: 720px;
    text-align: left;
}
.prescription-modal .modal-footer {
    margin-top: 0px;
}
.prescription-modal .modal-dialog th, .prescription-modal .modal-dialog td{
    text-align: left; 
}
.shopping-cart-table .quantity-cell{
    padding: 0px 10px;
    font-weight: bold;
}
.page-header-btn-group{
    float: right;
}
.page-header > .page-header-btn-group{
    float: right;
    padding-top: 10px;
}

/* checkout page */
.address-panel{
    position: relative;
    font-size: 12px;
}
.address-panel.address-panel-selected{      
    box-shadow: 3px 3px 4px #888888;
}
.address-panel.address-panel-selected{
    color:black;
} 
.address-panel.address-panel-selected h5{
    color:#004B91;
} 
.address-panel.address-panel-selected > i{
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #004B91;
}
.address-panel, .address-panel h5{
    color: lightgray;
}

/* order history */
.order-summary-table td, .order-summary-table th{
    text-align: center;   
    vertical-align: top;
}
.order-summary-table .modal td, .order-summary-table .modal th{
    text-align: center;   
}
.order-summary-table .modal{
    text-align: left;
}
.order-summary-table tbody tr td img.item-small-view {
    width:110px;
    height: 67px;
}

/* view product aka. product page*/
.view-item-table{
    width:100%;
}
.view-item-table tr td{
    border: none;
    height: 35px;
    vertical-align: baseline;
}
.view-item-table tr td.table-separator{    
    height: 15px;
}
.view-item-table thead tr td{
    height: 0px;
}
.price-prominent .sales-price{
    font-size: 30px;
    color: #b60000;  
}
.price-prominent .label{
    position: relative;
    bottom: 3px;
}
.price-prominent {    
    color: #777E83;        
    font-size: 12px;    
}
.selection-box{
    position: relative; 
    box-shadow: 0px 0px 0px 1px #C0C0C0 inset;    
    margin-right: 10px;
    display:inline-block;
    padding:4px 6px;
    cursor: pointer;
}
.selection-box:hover, .selection-box.selected{
    box-shadow: 0px 0px 0px 2px #be0601 inset;
    background-image: url("../images/icons/red-corner.jpg");
    background-position: right bottom;
    background-repeat:no-repeat;
}
.selection-box .fa-check {
    visibility: hidden;
    position: absolute;
    right: 1px;
    bottom: 0px;
    color: white;
    font-size: 6px;
}
.selection-box:hover .fa-check, .selection-box.selected .fa-check{
    visibility: visible;
}
.color-selection-box{
    min-width: 62px;
    padding-right: 10px;
    margin-bottom: 12px;
}
.color-selection-box img {
    border: 1px darkgray solid;
}

.lens-selection-container{    
    margin-bottom: 16px;
}
.lens-selection-container .fa-info-circle{    
    padding-top: 7px;
}
.lens-selection-box{
    width: 85%;
    margin-right: 5px;
}
.lens-selection-box .fa-check{
    padding-left: 5px;
}
.lens-selection-box .original-price{
    color: #777E83;
}
.lens-img {
    width:250px;
}
.tab-pane#detailed_description img {
    width: 100%
}
#baisc_property {
    text-align: center;
}
#user_review .panel {
    border-top: 0px;
}
.review-cell{
    position: relative;
}
.reivew-count-container {
    position: absolute;
    left: 110px;
    top: 3px;
}

.tab-content .tab-pane img.poster {
    min-height: 300px;
}
.thumb-btn a.thumbed {
    -webkit-animation: pop-up 0.5s;
    -moz-animation: pop-up 0.5s;
    animation: pop-up 0.5s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes pop-up {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.5); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pop-up {
    0% { -moz-transform: scale(1); }
    50% { -moz-transform: scale(1.5);}
    100% { -moz-transform: scale(1); }
}
@keyframes pop-up {
    0% { transform: scale(1); }
    50% { transform: scale(1.5)}
    100% { transform: scale(1); }
}
.also-buy-container {
    margin-top:38px;
}
.also-buy-container .model-title, .also-buy-container .also-buy-img-cell {
    text-align:center;
}
.also-buy-container .discount-price {
    color: #d32a0e;
    font-weight: bold;
    padding-left: 2px;
    font-size: 16px;
}
.also-buy-container .market-price {
    font-size: 14px;
}
.also-buy-container .color-icon {
    width:100%;
    margin: 0px;
}
.also-buy-container .ranking-number {
    width: 50px;
    height: 50px;
    margin: auto;
}
.also-buy-container .also-buy-img-cell img {
    height:79px;
}


/*fancy line*/
hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
    text-align: left;   //align shadow to left
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: white;  
    /*remove white grid background under the shadow*/ 
}

.section-grey hr.fancy-line:after {
    background: #eee;
}


/* member account page */
.prescription-chart-container {
    margin-bottom: 30px;
    position: relative;
}
.prescription-chart-container .legend {
    position: absolute;
    right:0px;
    top: 15px;
}
.prescription-chart-container .legend .title {    
    margin: 0.5em;
    /* border-style: solid; */
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}
.prescription-history-container {
    margin-bottom: 50px;
}


/* ambassador pages */
.ambassador-tabs>li {
    width:25%;
    text-align: center;
}
.ambassador-tabs>li>a{
    margin-right: 0px;
}